# Database
DATABASE_URL="mysql://root:rootpassword@localhost:3306/manage_service"
DB_USER=root
DB_PASSWORD=password
DB_NAME=manage_service
DB_ROOT_PASSWORD=rootpassword
DB_PORT=3306
DB_HOST=127.0.0.1

# Auth.js
NEXTAUTH_SECRET=ganti_dengan_secret_acak_min_32_karakter_disini
NEXTAUTH_URL=http://localhost:3000

# MinIO
MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET_NAME=reports
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

# Seed
SEED_ADMIN_NAME=Administrator
SEED_ADMIN_EMAIL=admin@example.com
SEED_ADMIN_PASSWORD=BROadalahadmin@2
INTERNAL_API_URL=http://localhost:3000